//COLORS

$body-bg: #F6F9FA;
$bg-main: rgb(43, 129, 136);
$dropdown-bg: #488D92;
$dropdown-active: #76babe;
$light: #C5E1E5;
$dark: #0D444D;
$dark-text: #2D2D2D;
$light-text: #B2B2B2;
$hero-text: #F3F7F8;
$transparent: rgba(0,0,0,0);

// $yellow-bttn: #FFF5BA;
// $bttn-yellow: #AD954B;
// $hero-bg: #2A8086;
// $bttn-lined: #19707D;


// PADDINGS

$padding-mobile: 20px;
$padding-tablet: 30px;
$padding-laptop: 40px;
$padding-desktop: 60px;

// BREAKPOINTS

$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;
$large: 1920px;