//FONTS

@mixin font ($family, $size, $height, $weight: normal) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

//MEDIA

@mixin media-mobile-sm {
  @media (min-width: $mobile-sm) { @content; }
}
@mixin media-mobile-lg {
  @media (min-width: $mobile-lg) { @content; }
}
@mixin media-tablet {
  @media (min-width: $tablet) { @content; }
}
@mixin media-desktop {
  @media (min-width: $desktop) { @content; }
}